{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Main content -->
        <main role="main" >
            <strong>Adopted Recommendations</strong>
            <ol>
                <li>Rooftop Rainwater Harvesting</li>
                <li>Reuse STP water for Flushing</li>
                <li>Groundwater Recharge</li>
                <li>Update Toiled equipments and tap connections</li>
            </ol>
            <hr>
            <ol>
                <li>Freshwater/Raw water reduction:</li>
                <li>Groundwater usage reduction:</li>
                <li>water debit to credit ratio:</li>
                <li>Water neutrality status: positive/negative/neutral</li>
            </ol>
        </main>
    </div>
</div>

{% endblock %}
