{% extends "base.html" %}

{% block content %}
<a href="/auditor/conservation?company={{ company_id }}&type={{ company_type }}&name={{ company_name }}"><button>Next: Water Conservation Methods</button></a>
<h1>Water Balance Matrix</h1>
Company : <strong> {{ company_name }} </strong> <br><br>
<table>
    <tr>
        <th>Sl No</th>
        <th>Particulars</th>
        <th>Volume (KLD)</th>
        <th>Volume (%)</th>
    </tr>
    {% for row in table_data %}
    {% if row[0] == '' and row[1] == '' %}
    <tr>
        <td colspan="4">{{ row[0] }}</td>
    </tr>
    {% else %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
