<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Water Audit POS{% endblock %}</title>
    <!-- Add your header CSS, meta tags, etc. here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Page with Inter Font</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>

<body>
    <header>
        <!-- Your header content goes here -->
        <h1>Water Audit</h1>
        <nav>
            <!-- Your navigation links go here -->
            <ul>
                <!-- <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li> -->
                <!-- Add more navigation links as needed -->
                {% if 'logged_in' in session %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>